main
{
	box-sizing: border-box;
	padding: 5rem;
	width: 100%;
}

main > header
{
	box-sizing: border-box;
	padding: 5rem;
	width: 100%;
	text-align: center;
	color: white;
	text-transform: capitalize;
}

#project-cards
{
	box-sizing: border-box;
	padding: 5rem;
	display: flex;
	justify-content: space-around;
}

main section article
{
	background-color: var(--navbar-bg-color);
	border: solid var(--navbar-bg-color) 0.3rem;
	border-radius: 5%;
	overflow: hidden;
	width: 30vw;
	height: 38vw;
}

main section article header
{
	color: white;
	background-color: var(--navbar-bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5vw;
	width: 100%;
}

main section article img
{
	width: 100%;
	object-fit: cover;
}

main section article footer
{
	height: 3vw;
	width: 100%;
	text-align: center;
	color: white;
}