/* main navbar styling */

#navbar
{
	width: var(--navbar-width);
	height: var(--navbar-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--navbar-bg-color);
}

/* navigation links*/
#navbar-links
{
	height: var(--navbar-height);
	width: 50%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: right;
	align-items: center;
	text-align: center;
	white-space: nowrap;
	box-sizing: border-box;
}

#navbar-links a
{
	box-sizing: border-box;
	width: 50%;
	line-height: var(--navbar-height);
	color: rgb(211, 211, 211);
	font-size: 3rem;
	text-decoration: none;
}

#navbar-links a::before
{
	text-align: left;
	box-sizing: border-box;
	content: "|";
}

#navbar-links a:hover
{
	width: 50%;
	line-height: var(--navbar-height);
	color: rgb(255, 255, 255);
	font-size: 3rem;
	text-decoration: none;
	background-color: rgb(51, 93, 129);
}


/* logo */
#navbar > a
{
	height: 90%;
	width: 10%;
	display: flex;
	align-items: center;
}

#navbar > a > img
{
	height: 100%
}