/*general*/
html, body
{
	padding: 0;
	margin: 0;
	background-color: beige;
}
/*****************************************/


/*navbar*/
#navbar
{
	min-width: 100%;
	min-height: 15vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: burlywood;
	text-transform: capitalize;
	margin-bottom: 5rem;
	border-bottom: solid rgb(194, 157, 109) 0.2rem;
}

.navbar-link
{
	max-width: 30%;
	line-height: 15vh;
	font-weight: bolder;
	text-decoration: none;
	font-size: clamp(1.2rem, 5vw,2.5rem);
	color: black;
}

a[class="navbar-link"]:hover
{
	text-shadow: 1px 1px 20px white;
	text-shadow: 1px -1px 20px white;
	text-shadow: -1px 1px 20px white;
	text-shadow: -1px -1px 20px white;
}
/******************************************/


/*sidebar*/
#sidebar
{
	width: 10vw;
	height: 15vh;
	border: solid 0.1rem black;
	text-align: center;
	align-items: center;
	display: flex;
	position: fixed;
	left: 85vw;
	top: 50%;
	flex-direction: column;
	padding-bottom: 2rem;
	flex-shrink: 0;
	flex-wrap: nowrap;
	background-color: coral;
	z-index: 1;
}
/*************************************/


/*main*/
#main
{
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main section
{
	min-width: 60vw;
	max-width: 90vw;
}

#main header
{
	text-transform: capitalize;
	color:cadetblue;
	margin-bottom: 2rem;
	text-align: center;
}
/************************************/


/*footer*/
#footer
{
	border-top: solid rgb(194, 157, 109) 0.2rem;
	background-color: burlywood;
	text-align: center;
}

#footer section
{
	padding: 3rem;
	display: flex;
	justify-content: space-evenly;
}

#footer section ion-icon
{
	font-size: 4rem;
}
/***************************************/

@media screen and (max-width: 800px)
{
	#sidebar
	{
		display:	none;
	}
}
