html, body
{
	padding: 0;
	margin: 0;
	background: linear-gradient(-45deg, #2b5876, #4e4376);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

:root
{
	--header-color:			rgb(0, 0, 0);
	--header-text-color: 	white;
}

fieldset
{
	border: none;
}

header h1
{
	text-align: center;
	background: linear-gradient(to right, #e65c00, #f9d423);
	background-clip: text;
	color: transparent;
}

main
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#question-content
{
	text-align: center;
}

#question-content legend
{
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0 auto;
	padding: 2rem;
	box-sizing: border-box;
}

#question-content label
{
	display: block;
	text-align: left;
}

#question-card
{
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3fr min(2fr, 25%) 1fr;
	box-sizing: border-box;
	padding: clamp(1rem, 2vw, 2rem);
	width: min(90vw, 30rem);
	border: solid white 2px;
	background-color: aliceblue;
	border-radius: min(5vw, 5%);
	overflow: hidden;
	height: auto;
}

#question-card #feedback
{
	text-align: center;
	box-sizing: border-box;
	padding: 3vh 0;
	font-size: 1.5rem;
	grid-column: 1 / span 3;
}

.init-button
{
	background-color: rgb(0, 81, 255);
	color: white;
	border: solid rgb(7, 31, 109) 0.5px;
	border-radius: 3%;
	font-weight: bolder;
	font-size: min(1.7rem, 5vw);
	width: 40%;
	height: 50%;
	text-align: center;
	margin: auto;
}

#question-card div
{
	grid-column: 1 / span 3;
}

#navigation
{
	display: flex;
	visibility: hidden;
	justify-content: space-evenly;
}

.action-button
{
	background-color: rgb(0, 81, 255);
	color: white;
	border: solid rgb(7, 31, 109) 0.5px;
	border-radius: 3%;
	font-weight: bolder;
	width: 30%;
	height: max(5vh, 3rem);
	font-size: min(1.5rem, 5vw);
}

button:disabled
{
	background-color: gray;
	color: rgb(32, 31, 31);
}